:root {
    --color-border: #cccccc;
    --color-letter: #171717;
    --color-html: #E93E30; 
    --color-css: #299ED5; 
    --color-js: #F7E018; 
    --color-boostrap: #563D7C;
    --color-react: #292C33; 
    --color-vue: #67C770;
    --color-letter2:#FFFFFF;
}
*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
h1{
    font-size: 28px;
    font-weight: 700;
    color: var(--color-letter);
}
h2 {
    font-size: 20px;
    font-weight: 700;
}
h3{
    font-size: 28px;
    font-weight: 700;
}
p{
    font-size: 16px;
    font-weight: 400;
}
a{
    font-size: 16px;
    font-weight: 700;
    color: var(--color-letter);
    text-decoration: none;
}
/*Header*/
header {
    height:120px;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--color-border);
    margin: 15px 80px 15px 80px;
}
header img{
    height: 70%;
    display: inline-block;
    border-radius: 20px;
}
header h2{
    display: inline-block;
    margin-left: 10px;
}
.main-principal{
    margin: 15px 80px 15px 80px;
}
/*seccion novedades*/
.posts{
    display: flex;
    flex-direction: column;
    color: var(--color-letter);
    border-bottom: 2px solid var(--color-border);
}
.posts h2{
    text-align: left;
}
.title{
    margin-top: 30px;
    margin-bottom: 15px;
}
.posts__card{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.container__card{
    width: 60%;
    margin-bottom: 15px
}
.card{
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.card__image{
    width: 604px;
    height: 314px;
    border-radius: 20px;
}
.card__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card__image--logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.container__card--secundary{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.card--secundary{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.card__image--secundary{
    width: 189px;
    height: 145px;
    border-radius: 20px;
    margin-right: 10px;
} 
.container__card--third{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    gap: 60px;
}
.card--third{
    width: 340px;
    height: auto;
}
.card__image--third{
    width: 298px;
    height: 200px;
    border-radius: 20px
}
.card__title{
    font-family: "poppins";
    font-size: 24px;
    font-weight: 700;
    margin-top: 10px;
}
.card__text{
    font-family: "poppins";
    font-size: 18px;
    font-weight: 400;
}
.card__text--logo{
    font-family: "poppins";
    font-size: 18px;
    font-weight: 500;
}
.card__title--secundary{
    font-family: "poppins";
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}
.card__text--secundary{
    font-family: "poppins";
    font-size: 20px;
    font-weight: 400;
}
.popular{
    display: flex;
    flex-direction: column;
    color: var(--color-letter);
    border-bottom: 2px solid var(--color-border);
}
.title--popular{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
}
.first__div{
    width: 60%;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 15px;
}

.label{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    margin:20px;
    width: 298px;
    height: 89px;
    border-radius: 20px;
}
.label__image{
    width: 85px;
    height: 74px;
    border-radius: 10px;
    margin-left: 20px;
}
.label--html{
    background-color: var(--color-html);
}
.label--js{
    background-color: var(--color-js);
}
.label--css{
    background-color: var(--color-css);
}
.label--react{
    background-color: var(--color-react);
}
.label--vue{
    background-color: var(--color-vue);
}
.label--bootstrap{
    background-color: var(--color-boostrap);
}
.label__text{
    font-family: "poppins";
    color: var(--color-letter2);
    font-weight: 700;
    font-size: 20px;
    margin-right: 20px;
}
/*footer*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 80px 15px 80px; /*Superior, Derecho, Inferior, Izquierdo*/
    height:120px;
}
.footer__logo{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
}
.footer__logo img{
    height: 70%;
    display: inline-block;
    border-radius: 20px;
}
.footer__logo h2{
    margin-left: 10px;
}
.footer__text{
    font-family: "poppins";
    font-size: 20px;
    font-weight: 500;
    margin: 50px 0 50px 0;
}